@inherits LayoutComponentBase

@using sharpend_webapp.Services

@inject ViewOptionService ViewOption

<div class="page main-body" style="background: black;">
    <div class="main">
        <div class="content px-4">
            @Body 
        </div>
    </div>
</div>
